body{
    font-family:tahoma;
    font-size:18px;
    padding-top:20px;
   
}
h1{
    text-align: center;
    background-color: rgb(255, 196, 0);
    color: aliceblue;
}
.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 250px;
    text-align: center;
    margin-top: 60px;
    border:1px solid gray;
    box-shadow:10px 10px 10px 0px gray;
}
/*.card1{
    width: 250px;
    
    margin-top: 60px;
    border:1px solid gray;
    box-shadow:10px 10px 10px 0px gray;
}*/
.card img{
    width:100%;
}
.card1 img{
    padding: 80px;
    width:70%;
    height: 70%;
    margin-left: 150px;
}
.text{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}


